/* Adicione esse CSS no seu arquivo de estilo, por exemplo, style.css */

body {
    background-color: #d9d9d9;
    /* A cor do fundo pode ser ligeiramente ajustada, se necessário */
}

.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9); /* Translucidez aumentada */
    border-radius: 20px; /* Bordas suavizadas mais acentuadas */
    padding: 30px; /* Aumenta o padding */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3); /* Sombra mais pronunciada */
    width: 400px; /* Aumenta a largura da caixa */
    max-width: 100%;
    text-align: center;
    z-index: 1000; /* Garante que o formulário esteja sobre outros conteúdos */
    background: linear-gradient(45deg, #f3f3f3, #e0e0e0); /* Gradiente animado */
    background-size: 200% 200%; /* Tamanho do gradiente para animação */
    animation: backgroundMovement 8s ease infinite; /* Animação do fundo mais rápida e suave */
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaço aumentado entre elementos do formulário */
}

.form-container label {
    margin-bottom: 10px; /* Espaço aumentado abaixo dos rótulos */
}

.form-container input[type="text"], 
.form-container input[type="password"],
.form-container input[type="email"] {
    padding: 15px; /* Aumenta o padding dos campos de entrada */
    border-radius: 8px; /* Bordas mais suaves para os campos de entrada */
    border: 1px solid #ccc;
}

.form-container input[type="submit"] {
    padding: 15px; /* Aumenta o padding do botão */
    border: none;
    border-radius: 8px; /* Bordas mais suaves para o botão */
    background-color: #556d86; /* Cor de fundo do botão */
    color: white;
    cursor: pointer;
    font-size: 16px; /* Tamanho da fonte do botão */
    transition: background-color 0.3s, transform 0.3s; /* Transições suaves */
}

.form-container input[type="submit"]:hover {
    background-color: #435d73; /* Cor de hover mais escura */
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}

/* Animação para o fundo */
@keyframes backgroundMovement {
    0% {
        background-position: 0% 0%;
        filter: brightness(1);
    }
    50% {
        background-position: 100% 100%;
        filter: brightness(1.1); /* Brilho aumentado para efeito de profundidade */
    }
    100% {
        background-position: 0% 0%;
        filter: brightness(1);
    }
}
