{% extends 'base.html' %}

{% block 'head' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_dashb.css' %}"></link> <!-- Adiciona o estilo da página -->
{% load static %}
<script src="{% static 'js/searchScript.js' %}" defer></script> <!-- Adiciona o script de busca -->
{% load static %}
<script src="{% static 'js/aux.js' %}" defer></script> <!-- Adiciona o script auxiliar -->
{% load static %}
<script src="{% static 'js/monitors.js' %}" defer></script> <!-- Adiciona o script para atualização de monitores. -->

{% load static %} <!-- Adiciona o script do Plotly -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block 'body' %}
<div class="dashboard-container">
    <!-- Blocos alinhados lado a lado -->
    <div class="box-container">
        <!-- Bloco de busca de ação e criação de monitors.-->
        <div class="box box-40">
            <h2>Search Currency</h2>
            <div class="search-container">
                <div class="search-input">
                    <input type="text" id="search" name="search" placeholder="Search for a symbol..." onkeyup="fetchSuggestions()">
                    <span class="search-icon">&#128269;</span> <!-- Unicode para a lupa -->
                </div>
                <ul id="suggestions" class="suggestions-list"></ul>
            </div>
            
            <h2>Tunnel Limits</h2>
            <div class="input-container">
                <div class="inputs-box">
                    <div class="input-group">
                        <label for="upper">Upper:</label>
                        <input type="text" id="upper" name="upper" required>
                    </div>
                    <div class="input-group">
                        <label for="bottom">Bottom:</label>
                        <input type="text" id="bottom" name="bottom" required>
                    </div>
                </div>
                <div class="button-box">
                    <button class="set-button" type="button" onclick="submitMonitor()">Set</button>
                </div>
            </div>
                
        </div>
        <div class="box box-30">
            <h2>My Alerts</h2>
            <div class="stock-monitor-container">
                {% for stock in stock_monitors %}
                <div class="stock-monitor-block">
                    <h3>{{ stock.symbol }}</h3>
                    <div class="monitor-info">
                        <div class="info-left">
                            <div>
                                <label for="upper-{{ stock.symbol }}">Upper:</label>
                                <input type="text" id="upper-{{ stock.symbol }}" value="{{ stock.supLimit }}" readonly>
                            </div>
                            <div>
                                <label for="bottom-{{ stock.symbol }}">Bottom:</label>
                                <input type="text" id="bottom-{{ stock.symbol }}" value="{{ stock.botLimit }}" readonly>
                            </div>
                        </div>
                        <div class="info-right">
                            <span id="{{ stock.symbol }}-icon" class="edit-icon" onclick="toggleEditMonitor('{{ stock.symbol }}')">✎</span>
                            <span class="delete-icon" onclick="deleteMonitor('{{ stock.symbol }}')">🗑️</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="box box-50">
            <!-- Campo 'PROFILE' e Logout-->
            <div class="profile_logout_box">
                <h2>Profile</h2>
                <form action="{% url 'logout' %}" method="post" >
                    {% csrf_token %}
                    <button class="logout-button" type="submit" >Logout</button>
                </form>
            </div>
            <!-- Campo Username - fixo -->
            <div class = "fixed-fixed">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="{{ user.username }}" readonly>
            </div>
            <!-- Campo de exibição e edição do Email-->
            <div class="fixed-field">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" readonly>
                <button type="button" class="edit-button" onclick="toggleEdit('email')">
                    <span id="email-icon">✎</span>
                </button>
            </div>
            <!-- Campo de exibição e edição da senha-->
            <div class="fixed-field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" value="******" readonly>
                <button type="button" class="edit-button" onclick="toggleEdit('password')">
                    <span id="password-icon">✎</span>
                </button>
            </div>
            <!-- Campo de exibição e edição do período de monitoramento-->
            <div class="fixed-field">
                <label for="monitoringPeriod">Monitoring Period:</label>
                <select id="monitoringPeriod" name="monitoringPeriod" disabled>
                    <option value="1m" {% if profile.monitoring_period == '1m' %}selected{% endif %}>1m</option>
                    <option value="2m" {% if profile.monitoring_period == '2m' %}selected{% endif %}>2m</option>
                    <option value="5m" {% if profile.monitoring_period == '5m' %}selected{% endif %}>5m</option>
                    <option value="15m" {% if profile.monitoring_period == '15m' %}selected{% endif %}>15m</option>
                    <option value="30m" {% if profile.monitoring_period == '30m' %}selected{% endif %}>30m</option>
                    <option value="60m" {% if profile.monitoring_period == '60m' %}selected{% endif %}>60m</option>
                    <option value="90m" {% if profile.monitoring_period == '90m' %}selected{% endif %}>90m</option>
                </select>
                <button type="button" class="edit-button" onclick="toggleMonitoringPeriodEdit()">
                    <span id="monitoringPeriod-icon">✎</span>
                </button>
            </div>
        </div>
    </div>
    <!-- Bloco para o gráfico, ocupando toda a largura -->
    <div class="box full-width">
        <h2>Graph</h2>
        <!-- Container para o gráfico -->
        <div id="graph-container"></div> 
    </div>
</div>
{% endblock %}